/* MAIN */
html {
    scroll-behavior: smooth;
}

font {
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 2.75em;
    color: #FFFFFF;
}

@media screen and (max-width: 340px) {
    h1 {
    font-size: 2.2em;
    }
}

h2 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 1.8em;
    color: #23A596;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: large;
    color: #23A596;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: medium;
    color: #212529;
}

a:hover {
    text-decoration: none;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 10rem;    /* Footer height */
}

#video-content-wrap {

}

/* UTILS */

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.padding-top-5 {
    padding-top: 5px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top-15 {
    padding-top: 15px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-30 {
    padding-top: 30px;
}

.padding-top-40 {
    padding-top: 40px;
}

.padding-top-50 {
    padding-top: 50px;
}

.padding-top-100 {
    padding-top: 100px;
}

.padding-bottom-5 {
    padding-bottom: 5px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-bottom-30 {
    padding-bottom: 30px;
}

.padding-bottom-40 {
    padding-bottom: 40px;
}

.padding-bottom-50 {
    padding-bottom: 50px;
}

.padding-bottom-100 {
    padding-bottom: 100px;
}

.intro-section-text {
    max-width: 800px;
    margin: auto;
}

/* BUTTONS */
button:focus {
    outline: none;
    border: none;
}

.button-green {
    background-image: linear-gradient(135deg, #23A596 40%, #5DEBB6 100%);
    border-radius: 8px;
    border: none white 2px;
    text-align: center;
    color: white;
    margin: 5px;
    padding: 10px 20px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size: 0.85em;
}

.button-green:hover {
    background-image: linear-gradient(135deg, #239b8c 40%, #5DEBB6 100%);
}

.button-pink {
    background-image: linear-gradient(135deg, #FF8592 40%, #B871BD 100%);
    border-radius: 8px;
    border: none white 2px;
    text-align: center;
    color: white;
    margin: 5px;
    padding: 10px 20px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size: 0.85em;
}

.button-pink:hover {
    background-image: linear-gradient(135deg, #f57d8a 40%, #B871BD 100%);
}

.button-white {
    background: none;
    border-radius: 8px;
    border: solid white 1px;
    text-align: center;
    color: white;
    margin: 5px;
    padding: 10px 20px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size: 0.85em;
}


/* HEADER SECTION */

.header {
    background:linear-gradient(0deg, rgba(35, 165, 150, 0.2), rgba(35, 165, 150, 0.2)), url('../img/header-image.jpg');
    min-height: 70vh;
    background-size:cover;
}

.button-section-container {
    max-width: 800px;
}

@media screen and (min-width: 780px) {
    .button-section-container {
        max-width: 600px;
    }

    .button-section-container col {
        padding: 0;
    }

    .main-title {
        margin-right: 10vw;
        margin-left: 10vw;
    }

}

.button-section-scroll {
    position: absolute;
    bottom: 0;
    text-align: center;
    left: 0;
    right: 0;
}

@media screen and (max-width: 500px) {
    .button-section-scroll {
        position: relative;
    }
}

.img-scroll {
    max-width: 50px;
}

/* PRESENTATION SECTION */

.img-container-presentation {
    text-align: center;
}

.img-left-presentation {
    max-width: 36vw;
    margin: auto;
}
@media screen and (max-width: 767px) {
    .img-left-presentation {
        min-width: 70vw;
        margin: auto;
    }
}

.txt-container-presentation {
    text-align: left;
}

@media screen and (max-width: 767px) {
    .txt-container-presentation {
        text-align: center;
        padding-top: 20px;
    }
}

.background-bubble {
    background-image: url('../img/IlluBubble.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


/* VIDEO SECTION */

.parent {
    position: relative;
}

.video-container-presentation {
    text-align: center;
    background-image: linear-gradient(135deg, #FF8592 40%, #B871BD 100%);
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.video-presentation {
    text-align: center;
    height: 100%;
    position: relative;
}

.flower-video {
    position: absolute;
    bottom: 10px;
    right: 0;
    z-index: 1;
    min-height: 100px;
    max-height: 300px;
}

@media screen and (min-width: 992px) {
    .flower-video {
        right: 100px;
    }
}

@media screen and (min-width: 1200px) {
    .flower-video {
        right: 200px;
    }
}

.iframe-video {
    width: 100%;
    height: 100%;
    min-height: 300px;
    z-index: 3;
    position: relative;
}


/* TESTIMONIALS SECTION */
.team-container {
    max-width: 800px;
}

.trombi-img {
    width: 100%;
    max-height: 100%;
    vertical-align:top;
}

.trombi-img-offset {
    vertical-align:top;
    width: 100%;
    max-height: 100%;
}

.image-trombi-div {
    position:relative;
    margin:10px;
}

.overlay {
    display:none;
}
.image-trombi-div:hover .overlay {
    width:100%;
    height:100%;
    background-image: linear-gradient(135deg, rgba(255, 132, 145, 0.75) 40%, rgba(184, 113, 189, 0.75) 100%);
    border:none;
    position:absolute;
    top:0;
    left:0;
    display:inline-block;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    text-align:center;
    color:white;
    padding: 5px 15px 5px 15px;
    font-size:20px;
}

.quote-text {
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 0.75em;
}

@media screen and (max-width: 1000px) {
    .quote-text {
        font-size: 0.6em;
    }
}

@media screen and (max-width: 767px) {
    .quote-text {
        font-size: 0.75em;
    }
}

@media screen and (max-width: 577px) {
    .quote-text {
        font-size: 1.75em;
    }
}

@media screen and (max-width: 500px) {
    .quote-text {
        font-size: 1.3em;
    }
}

@media screen and (max-width: 400px) {
    .quote-text {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 370px) {
    .quote-text {
        font-size: 0.85em;
    }
}

@media screen and (max-width: 300px) {
    .quote-text {
        font-size: 0.5em;
    }
}

.quote-text-author {
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 0.5em;
}


/* KPI MOBILE SECTION */
@media screen and (min-width: 580px) {
    #kpi-mobile {
        display: none;
    }
}

#kpi-mobile {
    /*background-image: linear-gradient(135deg, #FF8592 40%, #B871BD 100%);*/
    background-image: url("../img/wave_background_mobile.svg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 60vh;
}

#kpi-mobile p {
    color: #FFFFFF;
}

#kpi-mobile h3 {
    color: #FFFFFF;
}

#kpi-mobile h2 {
    color: #FFFFFF;
}

#kpi-mobile .kpi-container {
    margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 10px;
    -webkit-box-shadow: 1px -1px 21px 1px rgba(0, 0, 0, 0.16);
    box-shadow: 1px -1px 21px 1px rgba(0, 0, 0, 0.16);
    padding: 10px 15px 10px 15px;
    height: 150px;
}

#kpi-mobile .kpi-logo {
    display: block;
    vertical-align: top;
    text-align: center;
}

#kpi-mobile .kpi-text {
    display: block;
    text-align: center;
    vertical-align: top;
    padding-top: 10px;
}

#kpi-mobile .kpi-text p {
    color: #B871BD;
    font-size: 0.75em;
    margin: 0;
}

#kpi-mobile .kpi-text h3 {
    color: #B871BD;
    margin: 0;
}

.adjust-row-kpi-mobile {
    padding-left: 15vw;
    padding-right: 15vw;
}

@media screen and (max-width: 769px) {
    .adjust-row-kpi-mobile {
        padding-left: 10vw;
        padding-right: 10vw;
    }
}

@media screen and (max-width: 450px) {
    .adjust-row-kpi-mobile {
        padding-left: 5vw;
        padding-right: 5vw;
    }
}

#kpi-mobile .kpi-logo img {
    width: 100%;
    padding: 0 10px 0 10px;
}

@media screen and (max-width: 1000px){
    #kpi-mobile .kpi-logo img {
        max-width: 100px;
    }
}

/* KPI DESKTOP SECTION */
@media screen and (max-width: 579px) {
    #kpi-desktop {
        display: none;
    }
}

#kpi-desktop .kpi-desktop-container-full {
    background-image: url("../img/wave_background.svg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 300px;
    position: relative;
    z-index: -2;
    padding-bottom: 30px;
}

#kpi-desktop .row-white {
    background-color: #FFFFFF;
    border-radius: 10px;
    -webkit-box-shadow: 1px -1px 21px 1px rgba(0, 0, 0, 0.16);
    box-shadow: 1px -1px 21px 1px rgba(0, 0, 0, 0.16);
    max-width: 900px;
    margin: 0 auto;
}

@media screen and (max-width: 580px) {
    #kpi-desktop .row-white {
        max-width: 70vw;
        min-height: 0;
    }
    #kpi-desktop .kpi-desktop-container-full {
        background-image: url("../img/wave_background_mobile.svg");
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        min-height: 300px;
        position: relative;
        z-index: -2;
        padding-bottom: 30px;
}
}

#kpi-desktop .kpi-container {
    margin: 0 auto;
    padding: 35px 0 35px 0;
}

#kpi-desktop .kpi-logo {
    display: inline-block;
    vertical-align: top;
    width: 40%;
}

#kpi-desktop .kpi-logo img {
    width: 100%;
    padding: 0 10px 0 10px;
}

@media screen and (max-width: 1000px){
    #kpi-desktop .kpi-logo img {
        max-width: 100px;
    }
}

#kpi-desktop .kpi-text {
    display: inline-block;
    text-align: left;
    margin-left: 5px;
    vertical-align: top;
    width: 40%;
}

#kpi-desktop .kpi-text h3 {
    color: #B871BD !important;
}

#kpi-desktop .kpi-text p {
    color: #B871BD !important;
    margin-bottom: 0;
}

#kpi-desktop .flower-kpi-container {
    max-height: 250px;
    max-width: 250px;
    position: absolute;
    bottom: 0;
    z-index: -1;
}

#kpi-desktop .flower-kpi {
    max-height: 250px;
    max-width: 250px;
}


/* FOOTER SECTION */

.black-footer {
    background-color: #212121;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10rem;
}

/* NAVBAR */

.skilllib-brand {
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 2em;
}

.skilllib-menu {
    font-family: 'Lato', sans-serif;
    color: white !important;
    font-weight: 400;
    font-size: 1em;
    margin-left: 5px;
}